@using ApiSalaJuntas.Model.DTOS.Usuarios

@model UsuarioCRUDViewModel;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "/Views/Shared/_Modal.cshtml";
}
@section Styles{
<link rel="stylesheet" href="~/lib/css/MensjaFormularios.css" />
}
@section title{
    Editando a @Model.usuario.primerNombre @Model.usuario.apellidoPaterno
}
@section body{
<form id="formActualizarUsuario">
    <input type="hidden" id="idEstatus" value="@Model.usuario.estatus.id" />
    <input type="hidden" id="idUsuario" value="@Model.usuario.id" />
    <input type="hidden" id="idTipoUsuario" value="@Model.usuario.tipoUsuario.id" />
    <div class="mb-3">
        <label for="primerNombre" class="form-label">Primer Nombre</label>
        <input value="@Model.usuario.primerNombre" type="text" class="form-control" id="primerNombre" name="primerNombre" aria-describedby="primerNombre">
        <div id="msgPrimerNombre" class="form-text"> Escribe tu primer nombre </div>
    </div>

    <div class="mb-3">
        <label for="segundoNombre" class="form-label">Segundo Nombre</label>
        <input value="@Model.usuario.segundoNombre" type="text" class="form-control" id="segundoNombre" name="segundoNombre" aria-describedby="segundoNombre">
        <div id="msgPrimerNombre" class="form-text">Escribe tu segundo nombre</div>
    </div>

    <div class="mb-3">
        <label for="apellidoPaterno" class="form-label">Apellido Paterno</label>
        <input value="@Model.usuario.apellidoPaterno" type="text" class="form-control" id="apellidoPaterno" name="apellidoPaterno" aria-describedby="apellidoPaterno">
        <div id="msgApellidoPaterno" class="form-text">(*)Escribe tu apellido paterno</div>
    </div>

    <div class="mb-3">
        <label for="apellidoMaterno" class="form-label">Apellido Materno</label>
        <input value="@Model.usuario.apellidoMaterno" type="text" class="form-control" id="apellidoMaterno" name="apellidoMaterno" aria-describedby="apellidoMaterno">
        <div id="msgApellidoMaterno" class="form-text">Escribe tu apellido Materno </div>
    </div>
    <div class="mb-3">
        <label for="fechaNacimiento" class="form-label">Fecha Nacimiento</label>
        <input value="@Model.usuario.fechaNacimiento.ToString("yyyy-MM-dd")" type="date" class="form-control" id="fechaNacimiento" name="fechaNacimiento">
        <div id="msgFechaNacimiento" class="form-text">Ecuentra tu fecha de nacimiento </div>
    </div>
    <div class="mb-3">
        <label for="departamento" class="form-label">Departamento</label>

        <select class="form-select" aria-label="departamento" id="departamento" name="departamento" >

            <option value="@Model.usuario.departamento.id" selected> @Model.usuario.departamento.nombre</option>
            @if(Model.icono != "error"){
            @foreach( var departamento in Model.departamentos )
            {
            <option value="@departamento.id"> @departamento.nombre </option>

            }
            }else{
            <option> @Model.icono | @Model.mensaje </option>
            }
        </select>
        <div id="msgCargo" class="form-text">Selecciona al departamento que perteneces </div>

    </div>
    <div class="mb-3">
        <label for="cargo" class="form-label">Cargo</label>
        <select class="form-select" aria-label="cargo" name="cargo" id="cargo">
            <option value="@Model.usuario.cargo.id" selected> @Model.usuario.cargo.nombre </option>
            @if(Model.icono != "error"){
            @foreach( var cargo in Model.cargos )
            {
            <option value="@cargo.id"> @cargo.nombre </option>

            }
            }else{
            <option> @Model.icono | @Model.mensaje </option>
            }

        </select>
        <div id="msgDepartamento" class="form-text">Este campo sera visible para todos</div>

    </div>

</form>

}
@section buttons{
<button type="button" class="btn btn-primary" id="actualizarUsuario">Actualizar</button>
}

@section Scripts{
<script type="text/javascript" src="~/scripts/crud/actualizarUsuario.js"></script>

}